.component-wrapper {
  margin-bottom: 35px;
}

.label {
  font-weight: bold;
}

.text-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.value {
  color: #EDEEEE;

  &.minus {
    color: red;
  }
}
